@import '../../styles/_vars.scss';

.button {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: auto;
}

.button.r,
.button.r .layer {
  border: 2px solid $secondary;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#button_3 .knobs:before {
  content: url('/images/dark-theme.png');
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 13px;
  color: #fff;
  padding: 6px 6px;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button_3 .checkbox:active + .knobs:before {
  margin-left: 28px;
}

#button_3 .checkbox:checked:active + .knobs:before {
  margin-left: -28px;
}

#button_3 .checkbox:checked + .knobs:before {
  content: url('/images/light-theme.png');
  // left: 32px;
}
