.article {
  margin-top: 50px;
  width: 280px;
  align-self: center;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .article {
    width: 360px;
  }
}
@media (min-width: 992px) {
  .article {
    width: 610px;
  }
}

@media (min-width: 1200px) {
  .article {
    width: 740px;
  }
}
@media (min-width: 1400px) {
  .article {
    width: 940px;
  }
}
