@import 'vars';
@import 'fonts';

html,
body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: $black;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: 0;
}

.required,
.danger,
.primary {
  color: $primary;
}

.button {
  font-family: 'Montserrat Bold';
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: $primary;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
  &:hover,
  &:focus {
    box-shadow: 0 0 5px $primary, 0 0 20px $primary;
    background-color: darken($color: $primary, $amount: 10%);
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
