@import '../../styles/_vars.scss';

body[data-theme='light'] {
  .sidebar {
    color: #fff;
  }
}

.fixedLogo {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: $gray;
  border-bottom: 3px solid $primary;
}

$sidebar-width: 0;

.fake_sidebar {
  width: $sidebar-width;
}

.sidebar {
  background-color: $gray;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  width: $sidebar-width;
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 20px;

  h2 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    line-height: 1.4;

    border-bottom: 3px solid $primary;
    letter-spacing: 1px;
    transition: 0.5s;
  }
}

.category:hover,
.category:focus {
  h2 {
    background-color: $primary;
  }
}

.categories {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  a {
    display: block;
    padding: 20px 0;
    border: 2px solid transparent;
    transition: 0.5s;
    border-radius: 10px;
    &:hover,
    &:focus {
      border: 2px solid $secondary;
    }
  }
}

.articles {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  overflow-y: auto;
  .article {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    &:hover,
    &:focus {
      border: 2px solid $secondary;
    }
    span {
      display: block;
      text-align: center;
      margin-right: 15px;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      line-height: 1.6;
    }
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .logo {
    height: 40px;
  }
}

@media (min-width: 576px) {
  .logo {
    height: 45px;
  }
}

@media (min-width: 992px) {
  $sidebar-width: 350px;

  .fake_sidebar {
    width: $sidebar-width;
  }
  .sidebar {
    width: $sidebar-width;
  }
  .logo {
    height: 50px;
  }
}

@media (min-width: 1200px) {
  $sidebar-width: 400px;

  .fake_sidebar {
    width: $sidebar-width;
  }
  .sidebar {
    width: $sidebar-width;
  }
}
